<div class="cart">
  <h1 class="basket">Basket</h1>
  <div class="calculator">
    <div class="cal-title">
      <h5 class="title-item">Item</h5>
      <h5 class="title-price">Price</h5>
      <h5 class="title-quantity">Quantity</h5>
    </div>
    <div class="items"></div>
    <div class="total">
      <hr>
      <h2 class="total-info">Total: <span class="sum">0$</span></h2>
    </div>
  </div>
  <div class="decision">
    <button type="button" class="btn btn-primary buy"><i class="fas fa-shopping-cart"> Buy</i></button>
    <button type="button" class="btn btn-danger clear"><i class="fas fa-trash-alt"> Clear</i></button>
  </div>
</div>
