
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <button type="button" (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Example home icon"> menu </mat-icon>
  </button>
  <a class="navbar-brand ml-3" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 h-100">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <div class="account d-flex pl-3 ">
        <div class="avatar d-flex align-items-start">
          <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" >account_circle </mat-icon>
        </div>
        <div class="account-info text-white pl-3">
          <div class="account-name">NGUYEN Le Hoang</div>
          <div class="account-money">Coin:<span id="coin">{{coin}}</span>$</div>
        </div>
      </div>
    </form>

  </div>
</nav>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav w-25" mode="over">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <app-main></app-main>
</mat-drawer-container>
<app-footer></app-footer>

